title: CodeKunda | Top Software Company in Nepal
description: "CodeKunda - Leading software company in Nepal specializing in web development, mobile apps, and custom software solutions for global businesses."
url: "https://codekunda.com" # Set in deployment
baseurl: "" # Serve site from root

permalink: pretty

# Sass/SCSS settings
sass:
  sass_dir: _sass
  style: compressed

plugins:
  - jekyll-sitemap

collections:
  pages:
    output: true
  clipkunda:
    output: true
    permalink: /clipkunda/:path/
  logicland:
    output: true
    permalink: /logicland/:path/

defaults:
  - scope:
      path: ""
    values:
      layout: default

exclude:
  - archived
  - script.sh
  - firebase.json
  - .firebaserc
  - scripts
  - dist
formspree_id: "meoyzard"
