title: CodeKunda | Future-Ready Digital Solutions
description: "CodeKunda - Transforming abstract ideas into concrete digital realities. Cutting-edge software, web, and mobile solutions."
url: "" # Set in deployment
baseurl: "" # Serve site from root

permalink: pretty

# Sass/SCSS settings
sass:
  sass_dir: _sass
  style: compressed

collections:
  pages:
    output: true
  clipnote:
    output: true
    permalink: /clipnote/:path/

defaults:
  - scope:
      path: ""
    values:
      layout: default

exclude:
  - archived
  - script.sh
  - firebase.json
  - .firebaserc
formspree_id: "meoyzard"
