:root {
  --color-primary: #47bcff;
  --color-primary-light: #33b2fa;
  --color-primary-dark: #169ce8;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f3f3f3;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-text-dark: #222;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a:hover {
  color: var(--color-primary-dark);
}

a:visited {
  color: lightcoral;
}

ul,
ol {
  padding: 0 3.5rem; /* 0 top/bottom, 1.5rem left/right */
  margin: 0; /* Remove any default margin */
}

.container {
  background-color: #fff;
  min-height: 50rem;
}

.header {
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-primary-dark);
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-view {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.6;
}
.main-view__content {
  margin: 1rem;
  padding: 2rem;
}
@media (max-width: 480px) {
  .main-view__content {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 20%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  margin-right: 2rem;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s ease-in-out;
  margin-right: -3.25rem;
}
.search__input:focus {
  background-color: var(--color-grey-light-3);
  outline: none;
  width: 100%;
}
.search__input:focus + .searchbutton {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  fill: var(--color-grey-dark-3);
  height: 2rem;
  width: 2rem;
}

.user-nav {
  display: flex;
  flex-direction: row;
  background-color: lawngreen;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
}
.user-nav a:visited {
  color: var(--color-grey-dark-1);
}

.topbar {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.top-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.top-nav__item {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.top-nav__item:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.top-nav__item a {
  text-decoration: none;
  color: var(--color-text-dark);
  display: flex;
}
.top-nav__item a:hover {
  color: #fff;
}
.top-nav__item--active {
  color: #fff;
  background-color: var(--color-primary-dark);
  font-weight: bold;
}
.top-nav__item--active a {
  text-decoration: none;
  color: #fff;
}
.top-nav__icon {
  align-self: center;
  fill: currentColor;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 1rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(1);
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  background-color: var(--color-primary-dark);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  text-decoration: none;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
}
.side-nav__link:hover {
  background-color: var(--color-primary);
}
.side-nav__icon {
  fill: currentColor;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 2rem;
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

.post-content p {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.post-container {
  position: relative;
  padding: 2rem;
  background-color: var(--color-grey-light-2);
  border-radius: 16px;
}

.highlight pre, .highlight code {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap; /* Allows wrapping of long lines */
  padding: 1rem; /* Optional: Add some padding for better readability */
  background-color: black; /* Optional: Add a background color */
  border-radius: 5px; /* Optional: Add rounded corners */
  overflow-x: auto;
}

.notfound {
  margin: auto;
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.tags li {
  list-style: none;
  border: 2px solid var(--color-text-dark);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
}
.tags a {
  color: var(--color-text-dark);
  text-decoration: none;
  font-size: 1.5rem;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 200px;
}
.social-media a {
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  text-decoration: none;
  color: darkslategray;
}
.social-media a:link {
  text-decoration: underline;
}
.social-media a:hover {
  color: var(--color-primary-dark);
}
.social-media a:visited {
  color: lightcoral;
}

h1 {
  color: var(--color-primary-dark);
  font-size: 3rem;
}

h2 {
  color: var(--color-text-dark);
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

body {
  color: var(--color-text-dark);
}

.article-list__item {
  list-style: none;
  border-radius: 4px;
  margin-bottom: 2rem;
  background-color: var(--color-grey-light-2);
  padding: 2rem 3rem;
  border-radius: 2rem;
}
@media (max-width: 480px) {
  .article-list__item {
    border-radius: 0rem;
  }
}
.article-list a {
  text-decoration: none;
}
.article-list__readmore {
  color: var(--color-primary-dark);
}
.article__title {
  font-size: 3.5rem;
  font-weight: 600;
}
.article__date {
  font-size: 1.4rem;
  color: var(--color-grey-dark-);
  margin-bottom: 2rem;
}
.article ul,
.article ol {
  margin: 0 2rem;
}
@media (max-width: 480px) {
  .article ul,
  .article ol {
    margin: 0;
  }
}

.code-container {
  position: relative;
  background-color: #fff;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
  /* Ensure the button is above other elements */
}

.copy-button:hover {
  background-color: #0056b3;
}

.post-tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.post-tags a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-light-1);
  border-radius: 1rem;
}

.link {
  text-decoration: underline;
  color: var(--color-primary-dark);
}

code {
  display: block;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0rem;
}

.comment {
  color: lightgreen;
}

.illustration {
  display: block;
  max-width: 80%;
  margin: 4rem auto;
}

/*# sourceMappingURL=styles.css.map */