<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>

<!-- Add SDKs for Firebase products that you want to use. https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics-compat.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAJKaR6aQvkQPlXQOxLYltxmljHYQRdihY",
    authDomain: "codekunda-blog.firebaseapp.com",
    projectId: "codekunda-blog",
    storageBucket: "codekunda-blog.firebasestorage.app",
    messagingSenderId: "583826673763",
    appId: "1:583826673763:web:d813b04f12d3011f81a856",
    measurementId: "G-FDTW3JH9XP"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const analytics = firebase.analytics();
</script>
