<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use
            class="side-nav__icon-use"
            xlink:href="/assets/images/sprite.svg#icon-home"
          ></use>
        </svg>
        <span>Home</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use
            class="side-nav__icon-use"
            xlink:href="/assets/images/sprite.svg#icon-home"
          ></use>
        </svg>
        <span>iOS Native</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use
            class="side-nav__icon-use"
            xlink:href="/assets/images/sprite.svg#icon-home"
          ></use>
        </svg>
        <span>Flutter</span>
      </a>
    </li>
  </ul>
  <div class="legal">&copy; 2020 CodeKunda. All rights reserved.</div>
</nav>
