<nav class="sidebar">
  <ul class="side-nav">
    {% for navItem in site.data.nav_data %}
    <li
      class="side-nav__item {% if page.url == navItem.link%} side-nav__item--active{% endif %}"
    >
      <a href="{{navItem.link}}" class="side-nav__link">
        <svg class="side-nav__icon">
          <use class="side-nav__icon-use" xlink:href="{{navItem.icon}}"></use>
        </svg>
        <span>{{navItem.name}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="legal">&copy; 2020 CodeKunda. All rights reserved.</div>
</nav>
