<nav class="topbar">
  <ul class="top-nav">
    {% for navItem in site.data.nav_data %}
    <li
      class="top-nav__item {% if page.url == navItem.link%} top-nav__item--active{% endif %}"
    >
      <a href="{{navItem.link}}">
        <svg class="top-nav__icon">
          <use class="top-nav__icon-use" xlink:href="{{navItem.icon}}"></use>
        </svg>
        <span>{{navItem.name}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>

{% for dress in site.data.dresses %}
<div class="dress-card">
  <div class="dress-card__img">
    <img src="{{dress.img}}" alt="{{dress.name}}" />
  </div>
  <div class="dress-card__info">
    <h3 class="dress-card__name">{{dress.name}}</h3>
    <p class="dress-card__price">{{dress.price}}</p>
    <p class="dress-card__description">{{dress.description}}</p>
  </div>
  {% endfor %}
</div>
