/* Custom Cursor */
.cursor-dot,
.cursor-dot-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-color);
    opacity: 0.5;
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}

body:hover .cursor-dot-outline {
    opacity: 0.5;
}

