.container {
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    display: flex;
    font-size: 1.4rem;
    flex-direction: row;
    align-items: center;
    height: 7rem;
    background-color: var(--color-grey-light-1);
    justify-content: space-between;
    border-bottom: var(--color-grey-light-2);
}

.content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar {
    background-color: var(--color-grey-dark-1);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-view {
    flex: 1;
    font-size: 1.6rem;
    color: var(--color-text-dark);
    background-color: #fff;
    line-height: 1.6;

    &__content {
        margin: 1rem;
        padding: 2rem;
        background-color: var(--color-grey-light-1);
        border-radius: 10px;
    }
}
